<article class="tile is-child">
  <div class="box" style="box-shadow: none; padding-right: 3px;">
    <h7 style="font-size:larger;">場内教習</h7>
    <div style="font-size: large; margin-left: 12px; margin-right: 10px;">
      <p>1. 発進前</p>
      <div style="font-size: smaller; margin-left: 18px;">
        <p>1-1. <a href="/lessons/lesson-1_1">乗車前の周囲確認</a></p>
        <p>1-2. <a href="/lessons/lesson-1_2">乗車 ~ エンジンをかけるまで</a></p>
        <p>1-3. <a href="/lessons/lesson-1_3">エンジン始動 ~ 発進まで</a></p>
      </div>
      <p>2. 発進と停止</p>
      <div style="font-size: smaller; margin-left: 18px;">
        <p>2-1. <a href="/lessons/lesson-2_1">発進</a></p>
        <p>2-2. <a href="/lessons/lesson-2_2">停止(停車)と駐車</a></p>
      </div>
    </div>
  </div>
</article>