<%- include('../partials/header.ejs')%>
<!-- hero section -->
<div class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">技能試験に一発で受かるためのポイント集🚗📚</h1>
      <h2 class="subtitle"></h2>
    </div>
  </div>
</div>

<!-- main section -->
<nav class="level">
  <div class="level-left">
    <a href="/"> ホーム </a>＞<a href="/lessons"> 一発合格ポイント集 </a>
  </div>
</nav>
<main class="columns">
  <div class="column">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child">
          <!-- Nothing here -->
        </article>
      </div>
      <div class="tile is-parent is-10">
        <article class="tile is-child">
          <p class="title">教習ポイント集</p>
          <p class="subtitle">With some content</p>
          <div class="content">
            <div class="tile is-ancestor">
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <p class="title">場内教習(第1段階)</p>
                  <div class="container">
                    <div class="content">
                      <ul style="list-style: none;">
                        <li class="title is-5" style="margin-bottom: 0; margin-left: -20px;">1. 発進前 </li>
                        <ul style="list-style: none; margin-left: 0px; margin-top: 8px;">
                          <li>1-1. <a href="/lessons/lesson-1_1">乗車前の周囲確認</a></li>
                          <li>1-2. <a href="/lessons/lesson-1_2">乗車 ~ エンジン始動まで</a></li>
                          <li>1-3. <a href="/lessons/lesson-1_3">エンジン始動 ~ 発進まで</a></li>
                        </ul>
                        <li class="title is-5" style="margin-bottom: 0; margin-left: -20px;">2. 発進と停止</li>
                        <ul style="list-style: none; margin-left: 0px; margin-top: 8px;">
                          <li>2-1. <a href="/lessons/lesson-2_1">発進</a></li>
                          <li>2-2. <a href="/lessons/lesson-2_2">停止(停車)と駐車</a></li>
                        </ul>
                        <li class="title is-5" style="margin-bottom: 0; margin-left: -20px;">3. 坂道発進</li>
                        <ul style="list-style: none; margin-left: 0px; margin-top: 8px;">
                          <li>3-1. <a href="/lessons/lesson-3_1">坂道発進</a></li>
                        </ul>
                        <li class="title is-5" style="margin-bottom: 0; margin-left: -20px;">4. 狭路(クランクとS字)</li>
                        <ul style="list-style: none; margin-left: 0px; margin-top: 8px;">
                          <li>4-1. <a href="/lessons/lesson-1">クランク</a></li>
                          <li>4-2. <a href="/lessons/lesson-2">S字</a></li>
                        </ul>
                        <li class="title is-5" style="margin-bottom: 0; margin-left: -20px;">5. 障害物の避け方</li>
                        <ul style="list-style: none; margin-left: 0px; margin-top: 8px;">
                          <li>5-1. <a href="/lessons/lesson-1">障害物の避け方</a></li>
                        </ul>
                        <li class="title is-5" style="margin-bottom: 0; margin-left: -20px;">6. 交差点の通行</li>
                        <ul style="list-style: none; margin-left: 0px; margin-top: 8px;">
                          <li>6-1. <a href="/lessons/lesson-1">直進</a></li>
                          <li>6-2. <a href="/lessons/lesson-1">左折</a></li>
                          <li>6-3. <a href="/lessons/lesson-1">右折</a></li>
                        </ul>
                        <li class="title is-5" style="margin-bottom: 0; margin-left: -20px;">7. 見通しの悪い交差点の通行</li>
                        <ul style="list-style: none; margin-left: 0px; margin-top: 8px;">
                          <li>7-1. <a href="/lessons/lesson-1">見通しの悪い交差点の通行</a></li>
                        </ul>
                        <li class="title is-5" style="margin-bottom: 0; margin-left: -20px;">8. 踏切の通過</li>
                        <ul style="list-style: none; margin-left: 0px; margin-top: 8px;">
                          <li>8-1. <a href="/lessons/lesson-1">踏切の通過</a></li>
                        </ul>
                      </ul>
                    </div>
                  </div>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <p class="title">路上教習(第2段階)</p>
                  <p class="subtitle">With some content</p>
                  <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu
                      pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat
                      facilisis.</p>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
  <asides class="right-sidemenu column is-3 center">
    <%- include('../partials/right-sidemenu.ejs')%>
  </asides>
</main>
<!-- footer section -->
<%- include('../partials/footer.ejs')%>