<%- include('../partials/header.ejs')%>
<!-- hero section -->
<div class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">技能試験に一発で受かるためのポイント集🚗📚</h1>
      <h2 class="subtitle"></h2>
    </div>
  </div>
</div>

<!-- main section -->
<nav class="level">
  <div class="level-left">
    <a href="/"> ホーム </a>＞<a href="/lessons"> 一発合格ポイント集 </a>
  </div>
</nav>
<main class="columns">
  <div class="column">
    <div class="tile is-ancestor">
      <div class="tile is-parent lessons left-sidemenu">
        <!-- Left sidemenu -->
        <%- include('../partials/left-sidemenu.ejs') %>
      </div>
      <div class="tile is-parent is-9" style="margin: auto 18px;">
        <article class="tile is-child">
          <p class="title">1-2. 乗車 ~ エンジンをかけるまで</p>
          <div class="content">
            <article class="media">
              <div class="media-content">
                <class class="content">
                  <iframe style="margin-bottom: 20px;" width="560" height="315"
                    src="https://www.youtube.com/embed/UIPGXF0G_vA" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                  <div style="margin-bottom: 30px;">
                    <p class="is-size-5">運転席に座ってドアをしっかり閉めたら以下の手順で準備しましょう。</p>
                    <li class="is-size-5 has-text-weight-bold" style="list-style: none;">1. シートの前後調節</li>
                    <article id="genten" class="message is-warning" style="margin-top: 10px;">
                      <div class="message-header">
                        <p>⚠️これをしないと減点⚠️</p>
                      </div>
                      <div class="message-body">
                        【適用】: シートの前後調節をしない時
                        <hr style="margin:5px">
                        【減点数】: 場内(5点) | 路上(5点)
                      </div>
                    </article>
                    <li class="is-size-5 has-text-weight-bold" style="list-style: none;">2. ルームミラーの調節</li>
                    <article id="genten" class="message is-warning" style="margin-top: 10px;">
                      <div class="message-header">
                        <p>⚠️これをしないと減点⚠️</p>
                      </div>
                      <div class="message-body">
                        【適用】: 発進時、バックミラーが合っているかどうかを確認しないとき。
                        <hr style="margin:5px">
                        【減点数】: 場内(5点) | 路上(5点)
                      </div>
                    </article>
                    <li class="is-size-5 has-text-weight-bold" style="list-style: none;">3. シートベルトの着用</li>
                    <article id="genten" class="message is-warning" style="margin-top: 10px;">
                      <div class="message-header">
                        <p>⚠️これをしないと減点⚠️</p>
                      </div>
                      <div class="message-body">
                        【適用】: シートベルトを着用しないとき。
                        <hr style="margin:5px">
                        【減点数】: 場内(10点) | 路上(10点)
                      </div>
                    </article>
                  </div>
              </div>
            </article>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="right-sidemenu column is-3 center">
    <%- include('../partials/right-sidemenu.ejs')%>
  </div>
</main>
<!-- footer section -->
<%- include('../partials/footer.ejs')%>