<%- include('../partials/header.ejs')%>
<!-- hero section -->
<div class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">技能試験に一発で受かるためのポイント集🚗📚</h1>
      <h2 class="subtitle"></h2>
    </div>
  </div>
</div>

<!-- main section -->
<nav class="level">
  <div class="level-left">
    <a href="/"> ホーム </a>＞<a href="/lessons"> 一発合格ポイント集 </a>
  </div>
</nav>
<main class="columns">
  <div class="column">
    <div class="tile is-ancestor">
      <div class="tile is-parent lessons left-sidemenu">
        <!-- Left sidemenu -->
        <%- include('../partials/left-sidemenu.ejs') %>
      </div>
      <div class="tile is-parent is-9" style="margin: auto 18px;">
        <article class="tile is-child">
          <p class="title">2-1. 発進</p>
          <div class="content">
            <article class="media">
              <div class="media-content">
                <class class="content">
                  <iframe style="margin-bottom: 20px;" width="560" height="315"
                    src="https://www.youtube.com/embed/UIPGXF0G_vA" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                  <div style="margin-bottom: 30px;">
                    <p class="is-size-5">以下の発進の手順に従い、発進します</p>
                    <li class="is-size-5 has-text-weight-bold" style="list-style: none;">1. 左後方、右後方を目視で確認</li>
                    <article id="genten" class="message is-warning" style="margin-top: 10px;">
                      <div class="message-header">
                        <p>⚠️これをしないと減点⚠️</p>
                      </div>
                      <div class="message-body">
                        【適用】: 路端から発進する直前に、直接目視により右後方及びその他周囲の安全を確認しない場合。
                        <hr style="margin:5px">
                        【減点数】: 場内(10点) | 路上(10点)
                      </div>
                    </article>
                    <li class="is-size-5 has-text-weight-bold" style="list-style: none;">2. 右合図 ➡️</li>
                    <article id="genten" class="message is-warning" style="margin-top: 10px;">
                      <div class="message-header">
                        <p>⚠️これをしないと減点⚠️</p>
                      </div>
                      <div class="message-body">
                        【適用】: 路端から発進する場合に、方向指示器を操作しない時。
                        <hr style="margin:5px">
                        【減点数】: 場内(5点) | 路上(5点)
                      </div>
                    </article>
                    <li class="is-size-5 has-text-weight-bold" style="list-style: none;">3. チェンジレバーを「D」に入れる。</li>
                    <article id="genten" class="message is-warning" style="margin-top: 10px;">
                      <div class="message-header">
                        <p>⚠️これをしないと減点⚠️</p>
                      </div>
                      <div class="message-body">
                        【適用】: ブレーキを踏んでいない状態で「D」に入れた時。
                        <hr style="margin:5px">
                        【減点数】: 場内(5点) | 路上(5点)
                      </div>
                    </article>
                    <li class="is-size-5 has-text-weight-bold" style="list-style: none;">4. サイドブレーキを解除</li>
                    <article id="genten" class="message is-warning" style="margin-top: 10px;">
                      <div class="message-header">
                        <p>⚠️これをしないと減点⚠️</p>
                      </div>
                      <div class="message-body">
                        【適用】: サイドブレーキを解除せずに走行した時。
                        <hr style="margin:5px">
                        【減点数】: 場内(5点) | 路上(5点)
                      </div>
                    </article>
                    <li class="is-size-5 has-text-weight-bold" style="list-style: none;">5. 再度、左後方、右後方を目視で確認</li>
                    <article id="genten" class="message is-warning" style="margin-top: 10px;">
                      <div class="message-header">
                        <p>⚠️これをしないと減点⚠️</p>
                      </div>
                      <div class="message-body">
                        【適用】: 路端から発進する直前に、直接目視により右後方及びその他周囲の安全を確認しない場合。
                        <hr style="margin:5px">
                        【減点数】: 場内(10点) | 路上(10点)
                      </div>
                    </article>
                    <li class="is-size-5 has-text-weight-bold" style="list-style: none;">6. アクセルペダルをゆっくり踏んで発進</li>
                    <li class="is-size-5 has-text-weight-bold" style="list-style: none;">7. 合図を消す</li>
                    <p>進路変更(路端 ➡️ 通常の走行位置)を終えたら、合図を消す。</p>
                    <article id="genten" class="message is-warning" style="margin-top: 10px;">
                      <div class="message-header">
                        <p>⚠️これをしないと減点⚠️</p>
                      </div>
                      <div class="message-body">
                        【適用】: 進路変更が終わるまで合図を継続していなかったり、進路変更が終わっているのに、右合図が出っ放しの場合。
                        <hr style="margin:5px">
                        【減点数】: 場内(5点) | 路上(5点)
                      </div>
                    </article>
                  </div>

              </div>
            </article>
          </div>
        </article>
      </div>
      </article>
    </div>
  </div>
  </div>
  <div class="right-sidemenu column is-3 center">
    <%- include('../partials/right-sidemenu.ejs')%>
  </div>
</main>
<!-- footer section -->
<%- include('../partials/footer.ejs')%>