<%- include('./partials/header.ejs')%>
<!-- hero section -->
<div class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">運転免許 2.0🚙🔰</h1>
      <h2 class="title is-5">短期間で運転免許を効率よく取得するためのオンラインサービス</h2>
    </div>
  </div>
</div>
<!-- main section -->
<main class="columns">
  <div class="column">
    <p> This is the main menu</p>
  </div>
  <div class="right-sidemenu column is-3">
    <%- include('../views/partials/right-sidemenu.ejs')%>
  </div>
</main>
<!-- footer section -->
<%- include('./partials/footer.ejs')%>