<%- include('../partials/header.ejs')%>
<!-- hero section -->
<div class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">届出自動車学校一覧🚙🏫</h1>
      <h2 class="subtitle"></h2>
    </div>
  </div>
</div>

<!-- main section -->
<nav class="level">
  <div class="level-left">
    <a href="/"> ホーム </a>＞<a href="/schools">届出自動車学校一覧 </a>
  </div>
</nav>
<main class="columns">
  <div class="column">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child">
          <!-- Nothing here -->
        </article>
      </div>
      <div class="tile is-parent is-10">
        <article class="tile is-child">
          <p class="title">届出自動車学校一覧</p>
          <p class="subtitle">本サイトにご協力頂いている学校様でもあります</p>
          <div>
            <a href="https://www.zenjikyo.com/cn3/pg218.html">🏫お近くの届出自動車教習所を探す🏫</a>
          </div>
        </article>
      </div>
    </div>
  </div>
  <asides class="right-sidemenu column is-3 center">
    <%- include('../partials/right-sidemenu.ejs')%>
  </asides>
</main>
<!-- footer section -->
<%- include('../partials/footer.ejs')%>